<hr>
  <footer class="bottom visible-phone">
    <div class="container">
        <div class="row text-center">  
          <p>Knjiznica jederski reaktor@2015|<a href='http://mfproduction.si'>Mfproduction</a></p>
       </div>
     </div>
   </div>
</footer>

