<script id="sidebar-tpl" type="text/html">
  <li class="list-group-item"><a href="#books/browse">Browse Books</a></li>
  <li class="list-group-item"><a href="#books/mine">My Books</a></li>
  <li class="list-group-item"><a href="#books/borrowed">Borrowed Books</a></li>
  <li class="list-group-item"><a href="#users">Find Users</a></li>
</script>

<script id="book-list-tpl" type="text/html">
  <thead>
    <tr>
      <td>Title</td>
      <td>Author</td>
      <td>User</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
  </tbody>
</script>

<script id="book-list-item-tpl" type="text/html">
  <td><%%= title %></td>
  <td><%%= authors %></td>
  <td><a href="#users/show/<%%= user_id %>"><%%= user_id %></td>
  <td><a href="#books/borrow/<%%= _id %>">Borrow</a></td>
</script>

<script id="book-list-item-mine-tpl" type="text/html">
  <td><%%= title %></td>
  <td><%%= authors %></td>
  <td><a href="#books/edit/<%%= _id %>">Edit</a></td>
  <td><a href="#" data-ui-click="delete">Delete</a></td>
</script>
