<script id="sidebar-tpl" type="text/html">
  <div class="collapse navbar-collapse navbar-ex1-collapse" >
    <ul class="nav navbar-nav side-nav">
     <li>
       <a href="#books/browse"><i class="fa fa-fw fa-dashboard"></i> Browse Books</a>
     </li>
     <li>
      <a href="#books/mine"><i class="fa fa-fw fa-bar-chart-o"></i> My Books</a>
      </li>
      <li>
        <a href="#books/borrowed"><i class="fa fa-fw fa-table"></i> Borwed</a>
      <li>
      <li>
       <a href="#users"><i class="fa fa-fw fa-table"></i> Find User</a>
      <li>
    </ul>
  </div>
  
</script>

<script id="book-list-tpl" type="text/html">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
         Books <small>From Users</small>
      </h1>
    </div>
  </div>
<!-- /.row -->
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Title</td>
        <td>Author</td>
        <td>User</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>

<script id="book-list-mine-tpl" type="text/html">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
         My Books
      </h1>
    </div>
  </div>
<!-- /.row -->
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Title</td>
        <td>Author</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <a href="#books/add" class="btn btn-primary">Add Book</a>
</script>

<script id="book-list-item-tpl" type="text/html">
  <td><%%= title %></td>
  <td><%%= authors %></td>
  <td><a href="#users/show/<%%= user._id %>"><%%= user.email %></td>
  <td><a href="#books/borrow/<%%= _id %>">Borrow</a></td>
</script>

<script id="book-list-item-mine-tpl" type="text/html">
  <td><%%= title %></td>
  <td><%%= authors %></td>
  <td><a href="#books/edit/<%%= _id %>">Edit</a> | <a href="#" data-ui-click="delete">Delete</a></td>
</script>

<script id="book-add-tpl" type="text/html">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
         Add<small> Book</small>
      </h1>
    </div>
  </div>
 <form role="form-horizontal" method="post">
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <div class="input-group">
      <input type="text" class="form-control" name="isbn" placeholder="Enter ISBN to look up book metadata!">
      <span class="input-group-btn">
        <button data-ui-click="lookup-isbn" class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button>
      </span>
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" name="title">
  </div>
  <div class="form-group">
    <label for="authors">Author:</label>
    <input type="text" class="form-control" name="authors">
  </div>
  <div class="form-group">
    <label for="publisher">Publisher:</label>
    <input type="text" class="form-control" name="publisher">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <input type="text" class="form-control" name="description">
  </div>
  <div class="form-group">
    <label for="categories">Categories:</label>
    <input type="text" class="form-control" name="categories">
  </div>
 <div class="form-group">
    <label for="language">Language:</label>
    <input type="text" class="form-control" name="language">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
</script>

<script id="user-list-tpl" type="text/html">
  
  <table class="table table-hover">
    <thead>
      <tr>
        <td>User</td>
        <td>Number of Books</td>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</script>

<script id="user-list-item-tpl" type="text/html">
  <td><a href="#users/<%%= _id %>"><%%= email %></a></td>
  <td><%%= num_books %></td>
</script>

<script id="index-tpl" type="text/html">
   <div class="jumbotron">
    <h1>Bootstrap Tutorial</h1>
    <p>Bootstrap is the most popular HTML, CSS, and JS framework for developing
    responsive, mobile-first projects on the web.</p>
  </div>
  <p>This is some text.</p>
  <p>This is another text.</p> 
</script>
