<% 
# za enkrat kaze flash in notice pravilno (notice za devise, flash za ostalo 
# TODO Ugotovi ime devise controlerja
# FIXME polepsaj kodo
# OPTIMIZE obrni if zanko saj je treba sedaj vsak nov kontroler na roko vpisat 

%>
<% if params[:controller] == "books" %>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% else  %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
     <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<% end %>

